:root{
  --icon-size: 50px;
}

.App {
  text-align: center;
}

.me {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  pointer-events: none;
  background-image: url('./assets/me.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.circle {
  position: absolute;
  clip-path: polygon(50% 100%, 0% 100%, 0% 50%, 50% 50%, 50% 0%, 100% 0%, 100% 50%, 50% 50%);
  top: -8px;
  left: -8px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid white;
  transition: all 0.4s;
}


.container {
  position: relative;
  width: 200px;
  height: 200px;
  transition: all 0.4s;
}

.container:hover {
  transform: scale(1.2);
}

.container:hover .circle{
  transform: rotate(90deg);
  transition: all 0.4s;
}

.label {
  margin: 50px 0;
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.tech {
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: cover;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale();
  transition: all 0.5s;
}

.tech:nth-child(1),
.tech:nth-child(5) {
  filter: opacity(0.1);
}

.tech:nth-child(2),
.tech:nth-child(4) {
  filter: opacity(0.3);
  transform: scale(1.2);
}

.tech:nth-child(3){
  filter: opacity(1);
  transform: scale(1.5);
}

.tech-python {
  background-image: url('./assets/python.png');
}

.tech-redux {
  background-image: url('./assets/redux.png');
}

.tech-react {
  background-image: url('./assets/react.png');
}

.tech-js {
  background-image: url('./assets/js.png');
}

.tech-node {
  background-image: url('./assets/nodejs.png');
}

.image {
  z-index: 10;
  opacity: 1;
  display: block;
  width: 100%;
  border-radius: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  white-space: nowrap;
  font-size: 16px;
  padding: 16px 32px;
}

.App-logo:hover {
  transform: scale(1.2);
  outline: 1px solid white;
  outline-offset: 5px;
  -moz-outline-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}